.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;  
    border-radius: 50%;
    font-size: 1em;
    background: rgb(41, 192, 41);
    color: white;
    text-align: center;
    top: -10px;
    left: 32px;
}
/* Add this to your CSS or styles file */
.custom-navbar-bg {
    background-color: #a4b2bd; /* Blue color */
    color: #fff; /* White text color */
  }
  